<html>
    <body>
        <h1>{{.Rec.Title}}</h1>
        <h3>Ingredients:</h3>
        <ul>
        {{range .Rec.Ingredients}}
        <li>{{.}}</li>
        {{end}}
        </ul>

        <h3>Instructions:</h3>
        <ul>
        {{range .Rec.Instructions}}
            <li>{{.}}</li>
        {{end}}
        <ul>
        <h4>Weirdness Score: {{.Rec.Score}}</h4>
        <p>Note: Chef is dumb right now; this recipe is hardcoded. You selected {{range .MyChef.Inventory}} {{.}}{{end}}; Chef assumes you have all ingredients.</p>
    </body>
</html>
